div {
}

.btn {
  background-color: red;
}

.pt-53 {
}

.bg-black {
}

div {
}

.telefonlar .col {
  height: 640px;
}

.ip-25 {
  background-color: white;
}

.telefonlar .col {
  height: 624px;
}

.telefonlar .col {
  height: 624px;
}

.ip-15 {
  background-image: url("../../assets/img/promo_iphone15_announce__fmxxi8r9fkuy_large_2x.jpg");
  background-position: center;
}

